.row1{
    width: 50%;
    border: 1px solid black;
    background-color: azure;
    text-align: center;
    
}
.row2{
    display: flex;
    justify-content: space-around;
}
.col-91{
    padding-bottom:50px
}
.form-control1{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    outline: none;

}
.btn1{
padding: 10px 35px;
background-color: rgb(207, 207, 11);
border-radius: 10px;
color: #fff;
border: none;
}
.conatiner2{
    width: 70%;
}